*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("https://pbs.twimg.com/media/DeBEZEyUQAAPOOV.jpg");
    background-size: cover;

}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main-form{
    width: 600px;
    border-radius: 5px;
    margin: 50px auto;
}
.title{
    width: 100%;
    height: 60px;
    color: rgb(19, 19, 19);
    font-size: 2rem;
    height: 50px;
    background-color: rgb(250, 95, 126);
    display: flex;
    justify-content: center;
    align-items: center;

}
.start , .stop , .duration , .riel{
    width: 300px;
    height: 50px;
    display: flex;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    opacity: .6;

}
.button-form{
    height: inherit; 
    text-align: center; 
    font-weight: bold;
    background-color: white; 
    opacity: .8;
}
.date-form{
    width: 100%;
    height: 50px;
    background-color: rgb(85, 92, 213);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

